html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}

/* navmenu */
.nav-menu a{
    color: black;
    border-bottom: 1px dimgrey solid;
}
.nav-menu{
    text-align: center;
}

/* form errors */

.input-control.success input{
    border-color: darkgreen;
}

.input-control.error input{
    border-color: red;
}

.input-control .error{
    color: red;
    font-size: 9px;
    height: 13px;
    font-style: italic;
}